@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');

:root {
    --background-color: linear-gradient(45deg, #DFDFDF, #F8F6F6);
    --text-color: #ECDFCC;
    --calculator-color: #1E201E;
    --primary-color: #3C3D37;
    --secondary-color: #2C2C29;
    --equals-color: #697565;
    --primary-font: 'Noto Sans Math', sans-serif;
}

::selection {
    background-color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    background: var(--background-color);
}

.page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 22%;
    height: 80%;
    border-radius: 0.5em;
    background-color: var(--calculator-color);
}

.calculator-screen {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.calculator-screen p {
    text-align: end;
    margin-right: 15px;
}

.calculator-previous {
    color: gray;
    font-size: 14px;
    user-select: none;
    margin-bottom: 5px;
}

.calculator-result {
    color: var(--text-color);
    font-size: 48px;
    margin-bottom: 10px;
}

.calculator-wrapper {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-body {
    width: 100%;
    height: 100%;
    margin: 0 0.3em 0.6em 0.3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.3em;
}

.calculator-button button {
    width: 100%;
    height: 100%;
    font-size: 17px;
    color: var(--text-color);
    border: none;
    border-radius: 0.2em;
    user-select: none;
}

.calculator-button button:hover {
    transition: .05s;
}

.button-number {
    background: var(--primary-color);
}

.button-number:hover {
    background: var(--secondary-color);
}

.button-operation, .button-others {
    background-color: var(--secondary-color);
}

.button-operation:hover, .button-others:hover {
    background-color: var(--primary-color);
}

.button-equals {
    background-color: var(--equals-color);
}

.button-equals:hover {
    background: #5b6458;
}